[package]
name = "typify"
version = "0.0.3"
authors = ["Adam H. Leventhal <ahl@oxidecomputer.com"]
edition = "2018"
license = "Apache-2.0"
description = "JSON schema to rust type code generator"
repository = "https://github.com/oxidecomputer/serde_tokenstream"
readme = "README.md"
keywords = ["json", "schema", "proc_macro"]
categories = ["api-bindings", "compilers"]

[dependencies]
typify-macro = { path = "../typify-macro" }
typify-impl = { path = "../typify-impl" }

[dev-dependencies]
serde = "1.0"
