[package]
name = "typify"
version = "0.0.14"
edition = "2021"
license = "Apache-2.0"
description = "JSON schema to rust type code generator"
repository = "https://github.com/oxidecomputer/typify"
readme = "../README.md"
keywords = ["json", "schema", "proc_macro"]
categories = ["api-bindings", "compilers"]

[features]
default = ["macro"]
macro = ["typify-macro"]

[dependencies]
typify-macro = { version = "0.0.14", path = "../typify-macro", optional = true }
typify-impl = { version = "0.0.14", path = "../typify-impl" }

[dev-dependencies]
chrono = { version = "0.4.31", features = ["serde"] }
env_logger = "0.10.0"
expectorate = "1.1.0"
glob = "0.3.1"
quote = "1.0.33"
regress = "0.7.1"
rustfmt-wrapper = "0.2.1"
schemars = "0.8.13"
serde = "1.0.192"
serde_json = "1.0.108"
trybuild = "1.0.85"
uuid = { version = "1.5.0", features = ["serde"] }
