[package]
name = "typify"
version = "0.0.11-dev"
authors = ["Adam H. Leventhal <ahl@oxidecomputer.com"]
edition = "2021"
license = "Apache-2.0"
description = "JSON schema to rust type code generator"
repository = "https://github.com/oxidecomputer/typify"
readme = "../README.md"
keywords = ["json", "schema", "proc_macro"]
categories = ["api-bindings", "compilers"]

[dependencies]
typify-macro = { version = "0.0.11-dev", path = "../typify-macro" }
typify-impl = { version = "0.0.11-dev", path = "../typify-impl" }

[dev-dependencies]
educe = "0.4.20"
expectorate = "1.0.6"
glob = "0.3.1"
quote = "1.0.23"
regress = "0.4.1"
rustfmt-wrapper = "0.2.0"
schemars = "0.8.11"
serde = "1.0.152"
serde_json = "1.0.91"
trybuild = "1.0.76"
uuid = { version = "1.2.2", features = ["serde"] }
