[package]
name = "typify"
version = "0.0.9-dev"
authors = ["Adam H. Leventhal <ahl@oxidecomputer.com"]
edition = "2018"
license = "Apache-2.0"
description = "JSON schema to rust type code generator"
repository = "https://github.com/oxidecomputer/typify"
readme = "../README.md"
keywords = ["json", "schema", "proc_macro"]
categories = ["api-bindings", "compilers"]

[dependencies]
typify-macro = { version = "0.0.9-dev", path = "../typify-macro" }
typify-impl = { version = "0.0.9-dev", path = "../typify-impl" }

[dev-dependencies]
schemars = "0.8.10"
serde = "1.0"
