[package]
name = "typify-impl"
version = "0.0.11-dev"
authors = ["Adam H. Leventhal <ahl@oxidecomputer.com"]
edition = "2021"
license = "Apache-2.0"
description = "typify backend implementation"
repository = "https://github.com/oxidecomputer/typify"
readme = "../README.md"

[dependencies]
heck = "0.4.1"
log = "0.4"
proc-macro2 = "1.0"
quote = "1.0"
regress = "0.5.0"
rustfmt-wrapper = "0.2"
schemars = "0.8.12"
serde_json = "1.0"
syn = { version = "1.0", features = ["full"] }
thiserror = "1.0"
unicode-ident = "1.0.8"

[dev-dependencies]
expectorate = "1.0"
paste = "1.0"
schema = "0.0.1"
schemars = { version = "0.8.12", features = ["uuid1"] }
serde = "1.0"
uuid = "1.3.0"
