[package]
name = "typify-impl"
version = "0.0.15"
edition = "2021"
license = "Apache-2.0"
description = "typify backend implementation"
repository = "https://github.com/oxidecomputer/typify"
readme = "../README.md"

[dependencies]
heck = "0.4.1"
log = "0.4"
proc-macro2 = "1.0"
quote = "1.0"
regress = "0.7.1"
schemars = "0.8.16"
serde_json = "1.0"
syn = { version = "2.0", features = ["full"] }
thiserror = "1.0"
unicode-ident = "1.0.12"

[dev-dependencies]
env_logger = "0.10.1"
expectorate = "1.1"
paste = "1.0"
rustfmt-wrapper = "0.2"
schema = "0.1.0"
schemars = { version = "0.8.16", features = ["uuid1"] }
serde = "1.0"
syn = { version = "2.0", features = ["full", "extra-traits"] }
uuid = "1.6.1"
