[package]
name = "typify-impl"
version = "0.0.16"
edition = "2021"
license = "Apache-2.0"
description = "typify backend implementation"
repository = "https://github.com/oxidecomputer/typify"
readme = "../README.md"

[dependencies]
heck = "0.5.0"
log = "0.4.21"
proc-macro2 = "1.0.81"
quote = "1.0.36"
regress = "0.9.1"
schemars = "0.8.17"
serde_json = "1.0.116"
syn = { version = "2.0.60", features = ["full"] }
thiserror = "1.0.59"
unicode-ident = "1.0.12"


[dev-dependencies]
env_logger = "0.10.2"
expectorate = "1.1.0"
paste = "1.0.14"
rustfmt-wrapper = "0.2.1"
schema = "0.1.0"
schemars = { version = "0.8.17", features = ["uuid1"] }
serde = "1.0.200"
syn = { version = "2.0.60", features = ["full", "extra-traits"] }
uuid = "1.8.0"
