[package]
name = "typify-impl"
version = "0.0.16"
edition = "2021"
license = "Apache-2.0"
description = "typify backend implementation"
repository = "https://github.com/oxidecomputer/typify"
readme = "../README.md"

[dependencies]
heck = "0.5.0"
log = "0.4.21"
proc-macro2 = "1.0.80"
quote = "1.0.36"
regress = "0.9.1"
schemars = "0.8.16"
serde_json = "1.0.115"
syn = { version = "2.0.58", features = ["full"] }
thiserror = "1.0.58"
unicode-ident = "1.0.12"
urlencoding = "2.1.3"


[dev-dependencies]
env_logger = "0.10.2"
expectorate = "1.1.0"
paste = "1.0.14"
rustfmt-wrapper = "0.2.1"
schema = "0.1.0"
schemars = { version = "0.8.16", features = ["uuid1"] }
serde = "1.0.197"
syn = { version = "2.0.58", features = ["full", "extra-traits"] }
uuid = "1.8.0"
