[package]
name = "typify-impl"
version = "0.0.1"
authors = ["Adam H. Leventhal <ahl@oxidecomputer.com"]
edition = "2018"
license = "Apache-2.0"
description = "typify backend implementation"

[dependencies]
schemars = "0.8.3"
proc-macro2 = "1.0.27"
quote = "1.0.9"
serde_json = "1.0.64"
convert_case = "0.4.0"
thiserror = "1.0.29"
# This should just be a dev-dependency, but I got lazy for parsing idents
syn = { version = "1.0.76", features = ["extra-traits", "printing"] }

[dev-dependencies]
serde = "1.0.125"
schema = "0.0.1"
rustfmt-wrapper = { path = "../rustfmt-wrapper" }
expectorate = "1.0.4"
