[package]
name = "example-macro"
version = "0.0.1"
authors = ["Adam H. Leventhal <ahl@oxidecomputer.com>"]
edition = "2018"

[dependencies]
typify = { path = "../typify" }
serde = "1.0.130"
serde_json = "1.0.68"